@using SOR.ViewModel.Catalogs.Reports
@model GetReportViewModel
@using SOR.ViewModel
@using SOR.ViewModel.Catalogs.Reports.Report
@using SOR.Data.Enum
@{
    GetReportViewModel report = Model ?? new GetReportViewModel();
}

<ul class="hinhsu-list">

    <li class="hinhsu-item">
        <a href="~/Home/Detail?Id=@Model.Id" style="text-decoration: none;color:black;">
            <div class="baiviet-pc" style="display:flex;">

                @if (Model.rProofs.Select(x => x.IsFile).FirstOrDefault() == @IsFile.Image)
                {

                    <img style="width:550px" src="@SystemContants.MainConectionAPI/@Model.rProofs.Select(x=>x.Name).FirstOrDefault()" alt="Image">

                }
                else if (Model.rProofs.Select(x => x.IsFile).FirstOrDefault() == @IsFile.Video)
                {
                    <video style="width:550px" controls>
                        <source src="@SystemContants.MainConectionAPI/@Model.rProofs.Select(x=>x.Name).FirstOrDefault()" type="video/mp4">
                    </video>
                }
                else
                {
                    <img style="width:550px" src="" alt="Image">
                }


                <div style="padding:10px 15px;">
                    <span class="hinhsu-title">@Model.Title</span>
                    <div class="hinhsu-desc">@Model.Content</div>
                    <span class="hinhsu-time">
                        <i class="far fa-clock"></i>
                        @Model.CreateDate.ToString("dd/MM/yyyy ( HH:mm:ss )")
                    </span>
                    <div class="hinhsu-address">
                        <i class="fas fa-map-marker-alt"></i>
                        @Model.LocationReport

                    </div>
                </div>
            </div>
            <!-- Dành cho mobile -->
            <div class="baiviet-mobile" style="display: none;">
                <img style="width:100%;" src="@SystemContants.MainConectionAPI/@Model.rProofs.Select(x=>x.Name).FirstOrDefault()" alt="">
                <div style="padding:10px 15px;">
                    <span class="hinhsu-title">@Model.Title</span>
                    <div class="hinhsu-desc">@Model.Content</div>
                    <span class="hinhsu-time">
                        <i class="far fa-clock"></i>
                        @Model.CreateDate.ToString("dd/MM/yyyy ( HH:mm:ss )")
                    </span>
                    <div class="hinhsu-address">
                        <i class="fas fa-map-marker-alt"></i>
                        @Model.LocationReport
                    </div>
                </div>
            </div>
        </a>
    </li>
</ul>
